.reload {
    position: relative;
    width: 75px;
    height: 100px;
    margin: auto;
  }
  
  .reload__bar {
    position: absolute;
    bottom: 0;
    width: 10px;
    height: 50%;
    background: rgb(0, 0, 0);
    transform-origin: center bottom;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  }
  
  .reload__bar:nth-child(1) {
    left: 0px;
    transform: scale(1, 0.2);
    -webkit-animation: barUp1 4s infinite;
    animation: barUp1 4s infinite;
    background: yellowgreen;
  }
  
  .reload__bar:nth-child(2) {
    left: 15px;
    transform: scale(1, 0.4);
    -webkit-animation: barUp2 4s infinite;
    animation: barUp2 4s infinite;
    background: red;
  }
  
  .reload__bar:nth-child(3) {
    left: 30px;
    transform: scale(1, 0.6);
    -webkit-animation: barUp3 4s infinite;
    animation: barUp3 4s infinite;
    background: blueviolet;
  }
  
  .reload__bar:nth-child(4) {
    left: 45px;
    transform: scale(1, 0.8);
    -webkit-animation: barUp4 4s infinite;
    animation: barUp4 4s infinite;
    background: orange;
  }
  
  .reload__bar:nth-child(5) {
    left: 60px;
    transform: scale(1, 1);
    -webkit-animation: barUp5 4s infinite;
    animation: barUp5 4s infinite;
    background: burlywood;
  }
  
  .reload__ball {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background: rgb(44, 143, 255);
    border-radius: 50%;
    -webkit-animation: ball624 4s infinite;
    animation: ball624 4s infinite;
  }
  
  @keyframes ball624 {
    0% {
      transform: translate(0, 0);
    }
  
    5% {
      transform: translate(8px, -14px);
    }
  
    10% {
      transform: translate(15px, -10px);
    }
  
    17% {
      transform: translate(23px, -24px);
    }
  
    20% {
      transform: translate(30px, -20px);
    }
  
    27% {
      transform: translate(38px, -34px);
    }
  
    30% {
      transform: translate(45px, -30px);
    }
  
    37% {
      transform: translate(53px, -44px);
    }
  
    40% {
      transform: translate(60px, -40px);
    }
  
    50% {
      transform: translate(60px, 0);
    }
  
    57% {
      transform: translate(53px, -14px);
    }
  
    60% {
      transform: translate(45px, -10px);
    }
  
    67% {
      transform: translate(37px, -24px);
    }
  
    70% {
      transform: translate(30px, -20px);
    }
  
    77% {
      transform: translate(22px, -34px);
    }
  
    80% {
      transform: translate(15px, -30px);
    }
  
    87% {
      transform: translate(7px, -44px);
    }
  
    90% {
      transform: translate(0, -40px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }
  
  @-webkit-keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @keyframes barUp1 {
    0% {
      transform: scale(1, 0.2);
    }
  
    40% {
      transform: scale(1, 0.2);
    }
  
    50% {
      transform: scale(1, 1);
    }
  
    90% {
      transform: scale(1, 1);
    }
  
    100% {
      transform: scale(1, 0.2);
    }
  }
  
  @-webkit-keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @keyframes barUp2 {
    0% {
      transform: scale(1, 0.4);
    }
  
    40% {
      transform: scale(1, 0.4);
    }
  
    50% {
      transform: scale(1, 0.8);
    }
  
    90% {
      transform: scale(1, 0.8);
    }
  
    100% {
      transform: scale(1, 0.4);
    }
  }
  
  @-webkit-keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @keyframes barUp3 {
    0% {
      transform: scale(1, 0.6);
    }
  
    100% {
      transform: scale(1, 0.6);
    }
  }
  
  @-webkit-keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @keyframes barUp4 {
    0% {
      transform: scale(1, 0.8);
    }
  
    40% {
      transform: scale(1, 0.8);
    }
  
    50% {
      transform: scale(1, 0.4);
    }
  
    90% {
      transform: scale(1, 0.4);
    }
  
    100% {
      transform: scale(1, 0.8);
    }
  }
  
  @-webkit-keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes barUp5 {
    0% {
      transform: scale(1, 1);
    }
  
    40% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1, 0.2);
    }
  
    90% {
      transform: scale(1, 0.2);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }










  .background-button {
    background: repeating-linear-gradient(
      45deg,
      #3c2209 0 20px,
      #ff9c00 20px 40px
    );
    width: 10em;
    height: 10em;
    -webkit-box-shadow: 15px 15px 50px 5px #5f5f5f;
    box-shadow: 15px 15px 50px 5px #5f5f5f;
    position: relative;
    display: inline-block;
    outline: 2px solid black;
    transform: translate(12rem, 10px);
  }
  
  .background-button::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background: #a0b8c4;
    border: 2px solid #3c2209;
  }
  
  .button {
    background: #cc2a1f;
    width: 65%;
    height: 65%;
    border-radius: 50%;
    position: absolute;
    top: 7.5%;
    left: 18.25%;
    color: white;
    font-size: 1em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    -webkit-box-shadow: 0 15px 0 0 #842a2a;
    box-shadow: 0 15px 0 0 #842a2a;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    border: 2px solid black;
  }
  
  .button:active {
    -webkit-box-shadow: 0 1px 1px 1px #8C0606;
    box-shadow: 0 1px 1px 1px #8C0606;
    top: 15%;
  }
  
  .background-button:has(.button:active) + .emergency {
    display: block;
    -webkit-transform: rotate(0deg) scaleY(1);
    -ms-transform: rotate(0deg) scaleY(1);
    transform: rotate(0deg) scaleY(1);
    -webkit-animation: anims 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    animation: anims 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  @keyframes anims {
    0% {
      -webkit-transform: rotate(-30deg) scaleY(0.25);
      transform: rotate(-30deg) scaleY(0.25);
    }
  
    100% {
      -webkit-transform: rotate(0deg) scaleY(1);
      transform: rotate(0deg) scaleY(1);
    }
  }
  
  .emergency {
    position: absolute;
    display: none;
  }
  